body {
	font-family: 'News Cycle', Arial, sans-serif;
	color: #44545E;
	padding-left: 20px;
	padding-right: 20px;
}

p {
	font-family: 'News Cycle', Arial, sans-serif;
	font-size: 16px;
	line-height: 25px;
}

nav {
	background-color: #CDF3F6;
	text-transform: uppercase;
	display: inline-block;
	padding: 20px;
	width: 90%;
	margin: 10px;
	text-align: center;
}

a {
	text-decoration: none;
}

h1 {
    text-align: center;
	text-transform: uppercase;
}

#backpack {
	width: 35%;
	padding: 20px 150px 10px 40px;

}

h2 {
	text-transform: uppercase;
}
h3{
	text-align: center;
}

ul {
	list-style-type: none;
	text-align: left;
	background-color: lightyellow;
	width: 30%;
	padding: 20px;
	margin-left: 80px;
	font-size: 20px;
}

#progress { 
	width: 50%; 
	background-color: #ddd; 
  } 
	
  #progressBar { 
	width: 1%; 
	height: 35px; 
	background-color: #4CAF50; 
	text-align: center; 
	line-height: 32px; 
	color: black; 
  }

footer {
	background-color: #CDF3F6;
	text-align: center;
	width: 100%;
}

ol{
	font-size: 16px;
	line-height: 30px;
	
}

#emergency-exit {
	display: block;
	float: right;
	width: 40%;
	padding: 20px;
}

#kids {
	text-align: center;
}